@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  min-width: 0;
}
@layer components {
  .card-style {
    @apply mx-auto  text-black font-light text-sm   h-40 w-40 rounded-xl bg-white dark:bg-neutral-800 flex items-center justify-center;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

body {
  min-height: 100dvh;
}

::selection {
  @apply bg-primary-100 dark:bg-primary-900;
}

@keyframes scrollY {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - 1rem));
  }
}

.animate-scrollY {
  animation: scrollY 10s linear infinite;
}

.animate-spin-slow {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin-very-slow {
  animation: spin 90s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 1.5rem));
  }
}

.animate-infinite-scroll {
  animation: scroll 10s linear infinite;
}

@keyframes ping {
  75%,
  to {
    opacity: 0;
    transform: scale(2);
  }
}

.animate-ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.ThreeD {
  transform: perspective(1000px) rotateX(2deg) rotateY(-8deg) rotateZ(2deg);
}
